.container {
  margin: 50px 0;
  text-align: center;
}

.container h1 {
  color: #304ffe;
  margin-bottom: 20px;
}

.container p {
  color: gray;
}

.container p a {
  text-decoration: none;
  color: #304ffe;
  background-color: #bbdefb;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: small;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.container p a:hover {
  color: #bbdefb;
  background-color: #304ffe;
}
